/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-width: 300px; /* Constraint for your project */
}

/* Generic utilities */
.d-none {
  display: none;
}

/* Generic components */
.btn {
  padding: 1rem 2rem;
  border: 2px solid black;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.67rem;
  background-color: white;
  cursor: pointer;
}

.btn:hover,
.button:focus,
.button:active {
  color: white;
  background-color: black;

}

/* Header area */
.page-header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

.logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 3px;
}

.page-header-menu-container {
  display: flex;
}

.page-header-menu-container > .menu {
  display: flex;
  list-style: none;
}

.page-header-menu-container > .social {
  display: flex;
  list-style: none;
}

.menu-item {
  padding-right: 1rem;
  text-transform: uppercase;
}

.menu-item > .menu-link {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 500;
}

.social .icon {
  height: 1rem;
}

/* Main area > header banner */
.main-banner {
  height: 600px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url(../assets/yoga-class.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.5rem;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* main-container-with-margin */
.main-container-with-margin {
  margin: 0 auto;
  width: 80%;
  max-width: 1440px; /*hint: reconsider this with 4k screens */
}

.tagline, .section-title {
  margin: 5rem 0 3.5rem;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.hr {
  background-color: lightgrey;
  border: none;
  height: 1px;
}

/* Articles area */
.three-columns-container {
  display: flex;
  justify-content: space-between;
}

.three-columns-container__item {
  width: 30%;
  margin-bottom: 5rem;
}

.column-heading {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.column-p {
  margin: 0.5rem 0;
}

.three-columns-container__item img {
  width: 100%;
}

/* Testimonial */
.testimonial-container {
  margin: 4rem 0;
}

.testimonial-quote {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  margin: 1rem 0 2rem;
}

/* Instagram gallery */
.gallery {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 28%;
  margin: 0 15px 30px 15px;
}

/* Media queries */
/* Breakpoint suggestions: https://getbootstrap.com/docs/5.1/layout/breakpoints/ 
   Warning: Bootstrap is mobile first, not desktop first, so in Bootstrap,
   you have min-width and not max-width.
*/

@media screen and (max-width: 992px) {
  .gallery-image {
    width: 44%;
  }
}

@media screen and (max-width: 768px) {
  .gallery-image {
    width: 100%;
  }  
}

/*
@media screen and (max-width: 576px) {

}
*/