/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-width: 300px; /* Constraint for your project */
}

/* Generic utilities */
.d-none {
  display: none;
}

/* Generic components */

.button {
  padding: 1rem 2rem;
  border: 2px solid black;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.67rem;
  background-color: white;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  background-color: black;

}


/* Header area */
.page-header {
  display: grid;
  grid-template-areas: 
    "logo regular-menu social-menu";
  row-gap: 1.5rem;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

.logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 3px;
  grid-area: logo;
}

.page-header-menu-container {
  display: flex;
}

.page-header-menu-container--regular {
  grid-area: regular-menu;
}

.page-header-menu-container--social {
  grid-area: social-menu;
}

.menu, 
.social {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu-item {
  padding-right: 1rem;
  text-transform: uppercase;
}

.menu-item > .menu-link {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 500;
}

.social .icon {
  height: 1rem;
}

/* Main area > header banner */
.main-banner {
  height: 600px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url(../assets/yoga-class.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner-title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: calc(2rem + 2vw);
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* main-container-with-margin */
.main-container-with-margin {
  margin: 0 auto;
  width: 80%;
  max-width: 1440px; /*hint: reconsider this with 4k screens */
}

.tagline, .section-title {
  margin: 1rem 0;
  text-align: center;
  font-size: calc(1.375rem + 1.5vw);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.hr {
  background-color: lightgrey;
  border: none;
  height: 1px;
}

/* Articles area 
  -md suffix: we target medium screen sizes and above
*/
.three-columns-container-md {
  display: flex;
  justify-content: space-between;
}

.three-columns-container-md__item {
  width: 30%;
  margin-bottom: 5rem;
}

.column-heading {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.column-p {
  margin: 0.5rem 0;
}

.three-columns-container-md__item img {
  width: 100%;
}

/* Testimonial */
.testimonial-container {
  margin: 4rem 0;
}

.testimonial-quote {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  margin: 1rem 0 2rem;
}

/* Instagram gallery */
.gallery {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 28%;
  margin: 0 15px 30px 15px;
}

/* Map */
.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.southfork-map {
  width: 100%;
  height: 675px;
  margin: 1rem auto;
  border: none;
}

/* Footer */ 
.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

/* Buttons over the layout */
.fixed-link-circle {
  font-size: 3rem;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  background-color: white;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.fixed-link-circle.right {
  right: 2rem; 
}

.fixed-link-circle.left {
  left: 2rem;
}

#form-toggler {
  position: absolute;
  left: -9999px;
}

#form-toggler:checked ~ .contact-form {
  display: inline-block;
  position: fixed; 
  bottom: calc(2rem + 100px);
  left: 2rem;
  background-color: white;
}

/* Form styles */
.contact-form {
  display: none;
  width: 325px;
  padding: 2rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin: 1rem auto;
}

.form-row {
  margin-top: 0.8rem;
}

.label-top {
  display: block;
}

.label-top, [type=checkbox], [type=submit] {
  margin: 0.2rem 0 0.2rem 0;
}

[type=text], [type=email], textarea {
  padding: 0.5rem;
}

[type=text], [type=email], textarea {
  width: 295px;
  box-sizing: border-box;
}

[type=submit] {
  padding: 1rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border: none;
  box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Media queries */
/* Breakpoint suggestions: https://getbootstrap.com/docs/5.1/layout/breakpoints/ 
   Warning: Bootstrap is mobile first, not desktop first, so in Bootstrap,
   you have min-width and not max-width.
*/

@media screen and (max-width: 992px) {
  .gallery-image {
    width: 44%;
  }

  .southfork-map {
    height: 450px;
  }  
}

@media screen and (max-width: 768px) {

  .page-header {
    grid-template-areas: 
      "logo social-menu"
      "regular-menu regular-menu";
  }

  .gallery-image {
    width: 100%;
  }  

  .three-columns-container-md {
    flex-direction: column;
    align-items: center;
  }

  .three-columns-container-md__item {
    width: 80%;
  }  

  footer {
    flex-direction: column;
    align-items: center;
  }

  .southfork-map {
    height: 300px;
  } 
}

@media screen and (max-width: 576px) {
  .fixed-link-circle {
    display: none;
  }

  .contact-form {
    display: block;
  }
}


@media screen and (max-width: 400px) {
  .d-400minus-none {
    display: none;
  }
}
